.section3Container {
    min-height: 100vh;

    padding: 5% 10% 5% 10%;

    background-color: #FFFFFF;
}

.Section3Image {
    margin-top: 15%;

    width: 85%;
}

.title1Section3 {
    text-align: left;

    font-size: 2.5rem;
    font-weight: bolder;

    color: #253452;
}

.title2Section3 {
    margin-top: 15px;
    text-align: left;

    font-size: 1rem;

    color: #898989;
}

.iconsFAQ {
    width: 20px;
}

.transparentCard {
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: transparent;
    background-color: transparent;
}

.cardFAQ {
    padding-bottom: 10px;
}

.card{
    background-color: white;
    box-shadow: 0px 8px 14px -1px rgba(0, 0, 0, 0.25);
    border-radius: 20px !important;
}

.card:hover {
    transform: scale(1.05);
}

.card-header {
    border: none !important;
    background-color: transparent !important;
}

.cardAnswer {
    margin-left: 5%;
}